* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "EASTRIAL";
  src: url("./font/EASTRIAL.ttf") format(truetype);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #546a7b;
  color: #e5a632;
  gap: 50px;
  font-family: "EASTRIAL";
}

button,
input {
  cursor: pointer;
  font-family: "EASTRIAL";
  padding: 5px 0px;
}

input {
  background: none;
  border: none;
  margin-bottom: 30px;
  /* outline: none; */
}
label {
  display: flex;
  align-items: center;
  font-weight: 900;
}

button {
  height: 30px;
  width: 100px;
  background-color: transparent;
  color: #e5a632;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #e5a632;
  border-radius: 5px;
  transition: all 0.3s ease;
}
button:disabled {
  background-color: #e5a632;
  color: #546a7b;
  border-color: #546a7b;
}

#pen-color,
#canvas-color {
  height: 50px;
  width: 120px;
  padding: 0;
}

.title {
  font-size: 45px;
  margin-bottom: 15px;
}

.canvas.gridlines > div {
  outline: 1.5px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  display: grid;
  height: 500px;
  width: 500px;
  background-color: white;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toggle {
  display: flex;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the custom thumb */
/* Set the color of the slider's thumb */
input[type="range"] {
  /* Hides the default slider styling */
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
  /* Set the dimensions of the slider */
  width: 100%;
  height: 10px;
  /* Styling the track */
  background: #e5a632;
  border-radius: 5px;
}

/* Styling the thumb (circle) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white; /* Change to the desired color */
  border-radius: 50%; /* Ensures it's a circle */
  cursor: pointer;
}

.grid-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

#slider-label {
  margin-bottom: 5px;
}

.grid-lines input {
  display: none;
}

.grid-lines .slider {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 15px;
  background-color: #ccc;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.grid-lines .slider:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 0px;
  left: 0px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.grid-lines input:checked + .slider:before {
  transform: translateX(30px);
}

/* Change the background color of the slider for the "on" state */
.grid-lines input:checked + .slider {
  background-color: #e5a632;
}
