* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.canvas {
  height: 500px;
  width: 500px;
  background-color: white;
  margin-bottom: 20px;
  display: grid;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

label {
  display: flex;
  align-items: center;
}

.canvas.gridlines > div {
  outline: 1.5px solid black;
}
